</main>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="/images/bootstrap-logo.svg" alt="" width="24" height="19" />
            <small class="d-block mb-3 text-body-secondary">&copy; 2017–2025</small>
        </div>
        <div class="col-6 col-md">
            <h6>Funcionalidades</h6>
            <ul class="list-unstyled text-small">
                <li class="mb-1">
                    <a class="link-secondary text-decoration-none" href="/help">Ajuda</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h6>Recursos</h6>
            <ul class="list-unstyled text-small">
                <li class="mb-1">
                    <a class="link-secondary text-decoration-none" href="/stack">Stack</a>
                </li>
                <li class="mb-1">
                    <a target="_blank" class="link-secondary text-decoration-none" href="https://github.com/pw1-repo">Source code</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h6>Sobre</h6>
            <ul class="list-unstyled text-small">
                <li class="mb-1">
                    <a class="link-secondary text-decoration-none" href="/team">Equipe</a>
                </li>
                <li class="mb-1">
                    <a target="_blank" class="link-secondary text-decoration-none" href="https://bprivacy.com.br/o-que-e-e-para-que-serve-um-aviso-de-privacidade-guia-completo-com-checklist-para-download/">Aviso de Privacidade</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"
    class="astro-vvvwv3sm">
    </script>
</body>
</html>