<h2 class="display-6 text-center mb-4">Minha Lista de Contatos</h2>
<div class="table-responsive">
    <table class="table text-center">
        <thead>
            <tr>
                <th style="width: 20%"></th>
                <th style="width: 20%">Nome</th>
                <th style="width: 20%">Telefone</th>
                <th style="width: 20%">Email</th>
                <th style="width: 20%">Actions</th>
            </tr>
        </thead>
        <tbody>