<%- include('partials/header') %>
<div class="container-md bg-dark text-white">
  <main>
    <h1><%= title%></h1>
    <div class="container m-10">
      <p class="display-6">Adicionar Contato</p>
      <form action="/add" method="post" class="row align-items-center">
        <div class="col-auto">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control col-sm-10" id="nome" name="nome" aria-describedby="nomeHelp">
          <div id="nomeHelp" class="form-text">Nome completo do contato.</div>
        </div>
        <div class="col-auto">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control col-sm-10" id="email1" name="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Email do contato.</div>
        </div>
        <div class="col-auto">
          <label for="fone" class="form-label">Fone</label>
          <input type="text" class="form-control col sm-10" id="fone" name="fone" aria-describedby="foneHelp">
          <div id="foneHelp" class="form-text">Telefone do contato.</div>
        </div>
        <div class="col-auto form-check">
          <input type="checkbox" class="form-check-input" id="favorito" name="favorito">
          <label class="form-check-label" for="favorito">Favorito?</label>
        </div>
        <div class="row">
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button type="reset" class="btn btn-primary">Limpar</button>
          </div>
        </div>
      </form>
    </div>
</div>
<%- include('partials/footer') %>